.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

.text-ui-warning {
  color: var(--ui-warning) !important;
}

.text-ui-active {
  color: var(--ui-active) !important;
}

.bg-card {
  background-color: var(--bg-card);
}
