.c-checkbox {
  & .el-checkbox__input {
    &.is-checked .el-checkbox__inner::after {
      transform: rotate(0deg) scale(1);
      opacity: 1;
    }

    &.is-checked .el-checkbox__inner {
      border: var(--border-default);
      background-color: #fff;
    }

    & .el-checkbox__inner {
      width: 24px;
      height: 24px;
      padding: 5px;
      background: none;
      border: var(--border-default);
      border-radius: 8px;

      &:hover {
        border: var(--border-hover);
      }

      &::after {
        top: 6px;
        width: 16px;
        height: 16px;
        border: none;
        transition: all 325ms ease;
        transform: rotate(0deg) scale(0);
        opacity: 0;
        background: url('/assets/icons/i-plus--check.svg') no-repeat;
      }
    }
  }

  & .el-checkbox__label,
  & .el-checkbox__label.is-checked,
  & .el-checkbox__input.is-checked + .el-checkbox__label {
    @extend %fv-med;
  }

  & .el-checkbox__label a {
    padding-left: 8px;
  }
}
